{% extends 'base.html.twig' %}

{% block title %}Editar incidencia{% endblock %}

{% block body %}
    <h1>Editar incidencia</h1>

    {{ include('incidencia/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('incidencia_index') }}">Volver al listado</a>

    {{ include('incidencia/_delete_form.html.twig') }}
{% endblock %}
