{% extends 'base.html.twig' %}

{% block title %}Nueva incidencia{% endblock %}

{% block body %}
    <h1>Crear Nueva incidencia</h1>

    {{ include('incidencia/_form.html.twig') }}

    <a href="{{ path('incidencia_index') }}">Volver al listado</a>
{% endblock %}
